# Dependencies
node_modules

# Build outputs
.next
out

# Git
.git

# IDE
.idea
.vscode

# Environment files (keep .env.example)
.env
.env.local
.env.*.local

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# .NET build outputs
**/bin
**/obj
